.Progress{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 28px;
  height: 95%;
  /* padding-bottom:2px; */
  overflow: hidden;
  -webkit-overflow-scrolling:touch; 
}
.Progress:hover .Progress_bar{
  display: block;
}
.Progress_bar{
  width: 8px;
  height: 100%;
  background: #444;
  margin: 0 auto;
  position: relative;
  -webkit-overflow-scrolling:touch; 
  border-radius: 2px;
  display: none; 
}
.Progress_back{
  width: 8px;
  height: 0%;
  background:skyblue;
  position: absolute;
  cursor: pointer;
  -webkit-overflow-scrolling:touch; 
}
.circle{
  width: 18px;
  height: 18px;
  display: block;
  background: skyblue;
  border-radius: 50%;
  position: absolute;
  left:-5px;
  -webkit-overflow-scrolling:touch; 
}
/* .circle:nth-of-type(1){
  background:red;
}
.circle:nth-of-type(2){
  background: yellow;
} */
